apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${K_PP_NAME_PROC_BACK}
  labels:
    app: ${K_PP_LABEL_APP_PROC_BACK}
spec:
  replicas: ${K_PP_REPLICAS_PROC_BACK}
  selector:
    matchLabels:
      app: ${K_PP_LABEL_APP_PROC_BACK}
  template:
    metadata:
      labels:
        app: ${K_PP_LABEL_APP_PROC_BACK}
    spec:
      containers:
      - image: ${K_DOCKER_IMAGE}_${K_ARCH}:${K_SERVICE_VERSION}
        imagePullPolicy: Always
        name: ${K_PP_IMAGE_PROC_BACK}
        ports:
          - containerPort: ${K_PP_SERVICE_PORT_PROC_BACK}
      imagePullSecrets:
      - name: ${K_PP_IMAGE_PULL_SECRET_PROC_BACK}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ${K_PP_SERVICE_HOST_PROC_BACK}
  name: ${K_PP_SERVICE_HOST_PROC_BACK}
spec:
  ports:
  - port: ${K_PP_SERVICE_PORT_PROC_BACK}
    protocol: TCP
    targetPort: ${K_PP_SERVICE_PORT_PROC_BACK}
  selector:
    app: ${K_PP_LABEL_APP_PROC_BACK}
  type: ClusterIP