apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${K_PREFIX}-${K_PO_NAME_PP_BACK}
  labels:
    app: ${K_PREFIX}-${K_PO_LABEL_APP_PP_BACK}
spec:
  replicas: ${K_PO_REPLICAS_PP_BACK}
  selector:
    matchLabels:
      app: ${K_PREFIX}-${K_PO_LABEL_APP_PP_BACK}
  template:
    metadata:
      labels:
        app: ${K_PREFIX}-${K_PO_LABEL_APP_PP_BACK}
    spec:
      containers:
      - image: ${K_DOCKER_IMAGE}_${K_ARCH}:${K_SERVICE_VERSION}
        imagePullPolicy: Always
        name: ${K_PREFIX}-${K_PO_IMAGE_NAME_PP_BACK}
        ports:
          - containerPort: ${K_PO_SERVICE_PORT_PP_BACK}
      imagePullSecrets:
      - name: ${K_PREFIX}-${K_PO_IMAGE_PULL_SECRET_PP_BACK}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: ${K_PREFIX}-${K_PO_SERVICE_HOST_PP_BACK}
  name: ${K_PREFIX}-${K_PO_SERVICE_HOST_PP_BACK}
spec:
  ports:
  - port: ${K_PO_SERVICE_PORT_PP_BACK}
    protocol: TCP
    targetPort: ${K_PO_SERVICE_PORT_PP_BACK}
  selector:
    app: ${K_PREFIX}-${K_PO_LABEL_APP_PP_BACK}
  type: ClusterIP